{
  "identities": [
    {
      "name": "main",
      "credentials": [
        {
          "accessKey": "change-me",
          "secretKey": "change-me"
        }
      ],
      "actions": [
        "Admin",
        "Read",
        "Tagging",
        "Write",
        "List"
      ]
    }
  ]
}
