NGINX_BIND_IP=127.0.0.1
NGINX_HTTP_PORT=8080
COREDNS_BIND_IP=127.0.0.1
COREDNS_DNS_PORT=1053
TAILSCALE_INTERFACE=tailscale0
TAILSCALE_IPV4=
DNS_ZONE=victus.io
ETCD_PREFIX=/skydns
DNS_TTL=30
S3_DOMAIN=s3.victus.io
